extends layout
block content
    div
        div.row
            label(for='problem')='Graph: '
            textarea(id='problem')
                | [ Infinity,
                |    154,
                |    510,
                |    707,
                |    967,
                |    582,
                |    456,
                |    71,
                |    161,
                |    372,
                |    158,
                |    567,
                |    342,
                |    398,
                |    154,
                |    Infinity,
                |    423,
                |    664,
                |    998,
                |    599,
                |    508,
                |    197,
                |    312,
                |    479,
                |    310,
                |    582,
                |    417,
                |    376,
                |    510,
                |    423,
                |    Infinity,
                |    289,
                |    744,
                |    391,
                |    438,
                |    492,
                |    645,
                |    881,
                |    619,
                |    374,
                |    456,
                |    212,
                |    707,
                |    664,
                |    289,
                |    Infinity,
                |    491,
                |    265,
                |    411,
                |    664,
                |    805,
                |    1070,
                |    768,
                |    260,
                |    500,
                |    310,
                |    967,
                |    998,
                |    744,
                |    491,
                |    Infinity,
                |    401,
                |    514,
                |    902,
                |    990,
                |    1262,
                |    948,
                |    418,
                |    636,
                |    637,
                |    582,
                |    599,
                |    391,
                |    265,
                |    401,
                |    Infinity,
                |    168,
                |    522,
                |    635,
                |    910,
                |    593,
                |    19,
                |    285,
                |    240,
                |    456,
                |    508,
                |    438,
                |    411,
                |    514,
                |    168,
                |    Infinity,
                |    389,
                |    482,
                |    757,
                |    440,
                |    163,
                |    125,
                |    233,
                |    71,
                |    197,
                |    492,
                |    664,
                |    902,
                |    522,
                |    389,
                |    Infinity,
                |    155,
                |    407,
                |    133,
                |    508,
                |    274,
                |    355,
                |    161,
                |    312,
                |    645,
                |    805,
                |    990,
                |    635,
                |    482,
                |    155,
                |    Infinity,
                |    277,
                |    44,
                |    623,
                |    358,
                |    498,
                |    372,
                |    479,
                |    881,
                |    1070,
                |    1262,
                |    910,
                |    757,
                |    407,
                |    277,
                |    Infinity,
                |    319,
                |    899,
                |    633,
                |    761,
                |    158,
                |    310,
                |    619,
                |    768,
                |    948,
                |    593,
                |    440,
                |    133,
                |    44,
                |    319,
                |    Infinity,
                |    582,
                |    316,
                |    464,
                |    567,
                |    582,
                |    374,
                |    260,
                |    418,
                |    19,
                |    163,
                |    508,
                |    623,
                |    899,
                |    582,
                |    Infinity,
                |    276,
                |    222,
                |    342,
                |    417,
                |    456,
                |    500,
                |    636,
                |    285,
                |    125,
                |    274,
                |    358,
                |    633,
                |    316,
                |    276,
                |    Infinity,
                |    247,
                |    398,
                |    376,
                |    212,
                |    310,
                |    637,
                |    240,
                |    233,
                |    355,
                |    498,
                |    761,
                |    464,
                |    222,
                |    247,
                |    Infinity ]

    div
        button(id='init')='Initialize Worker'
        button(id='proccess')='Start Solving'
    ul(id='receiver')
